[Unit]
Description=raspi camera
After=time-systemd-timesyncd.target

[Service]
ExecStartPre=/bin/mkdir -p /run/cam/cam
ExecStart=/root/raspi-tools/script.py /run/cam/cam

[Install]
WantedBy=multi-user.target
